/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(80, 68, 18, 0.6) 10%, transparent);
    background-size: cover;
    background-position: left 10% bottom 20%;
    background-repeat: no-repeat; 
  }

html { height: 100%; }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }